.container{
    height: 100%;
    width: 100%;
    padding: 1rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100px; */
}

.wrapper{
    height: 50%;
    width: 100%;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.info{
    display: flex;
    height: 100%;
    width: 100%;
}

.info img{
    width: 20px;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30%;
    /* padding-bottom: 5rem;  */
}

.searchbar input{
    border-radius: 10px;
    background-color: white;
    width: 20rem;
    height: 4rem;
    outline: none;
    border: none;
    position: relative;
    padding: 0 2rem;
}

.searchbar img{
    width: 20px;
    position: absolute;
    right: 9rem;
}

tr{
    text-align: left;
}