.container{
    width: 80%;
    padding: 1rem 8rem;
}

.adminContainer{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.admin{
    display: flex;
    gap: 20px;
}

.admin > p{
    background: #FFFFFF;
    border-radius: 10px;
    height: 3rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border: 1px solid #569E77;
}

.status{
    width: 12px;
    height: 12px;
    background: #569E77;
    border-radius: 100%;
}

.nodisplay{
    display: none;
}

.display{
    display: block;
}

.display p{
    text-align: left;
}

.depositWrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* width: 10%; */
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.form input{
    height: 2rem;
    width: 10rem;
    outline: none;
    border: none;
    border-radius: 3px;
}

.depositbutton{
    height: 2rem;
    width: 5rem;
    /* padding: 3rem 1rem; */
    outline: none;
    border: 1px solid #F4F6FE;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #495371;
    text-align: center;
    border-radius: 3px;
    color: white;
}

.table{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    width: 80%;
}

td{
    border: none;
}



