.container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80%;
    margin: 0 10%;
}

.wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

h2{
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 55px;
    color: #2B678A;
}

.wrapper > div:nth-of-type(1){
    width: 100%;
    height: 100%;
    padding: 10%;
}

.wrapper > div:nth-of-type(1) > img{
    width: 100%;
    /* height: 50%;
    padding: 10%; */
}

.detail{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    text-transform: lowercase;
    color: #495371;
}

p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 55px;
    text-transform: lowercase;
    color: #495371;
}